@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Figtree&family=Mynerve&family=PT+Serif&family=Ultra&display=swap');

h1 {
  font-family: 'Bangers', cursive;
  padding: 0;
  margin: 0;
}

body {
  background-color: hsla(220, 13%, 18%, 0.5);
}

.App {
  text-align: left;
  margin-left: 50px;
  padding: 15px;
  border-radius: 15px 0 0 15px;
  background-image: url(../public/assests/comicbooks.jpg);
  display: flex;
}

/* hex color #282c34 */
.App-header {
  background-color: hsla(220, 13%, 18%, 0.7);
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 15px 0 0 15px;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}


